*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #212121;
    color: #1f1f1f;
}

header {
    height: 5vh;
    width: 100%;
    color: #e1e1e1;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo:hover {
    color: rgb(255, 80, 80);
    transition: 0.3s ease-in;
    cursor: pointer;
}

nav p:hover {
    cursor: pointer;
    color: rgb(255, 80, 80);
    transition: 0.3s ease-in;
}

a{
    text-decoration: none;
    color: #e1e1e1;
}

main {
    width: 100%;
    background-color: #212121;
    height: 100vh;
}

.greet{
    color: #e1e1e1;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.container {
    width: 70%;
    margin: 0 auto;
    color: #e1e1e1;
    padding-top: 5vh;
    background-color: #333;
    padding: 50px;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}

a:hover{
    color: rgb(255, 80, 80);
    transition: 0.3s ease-in;
}

.card{
    width: 30%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #212121;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
}

input{
    border-radius: 5px;
    border: 1px solid white;
    background-color: #333;
    color: #e1e1e1;
    padding: 5px;
}

.card-button{
    text-align: center;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
}

.card-button:hover{
    background-color: #212121;
    color: #e1e1e1;
    transition: 0.3s ease-in;
    border: 1px solid white;
}

.title{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.card2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* snackbar */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
